@model IEnumerable<GestionExpropaciones.Models.PaperWorkModel>
@using GestionExpropaciones.Common
@using GestionExpropaciones.Common.Helpers
@using GestionExpropaciones.Common.Enums
@inject Constants Constants
@{
    var isLoading = false;
    int pageNumber = ViewBag.PageNumber;
    int totalPages = ViewBag.PaperWorkTotalPages;
    int totalCount = ViewBag.PaperWorkTotalCount;
    string searchTerm = ViewBag.SearchTerm ?? "";
}

<section class="max-width-container d-flex justify-content-between mb-2 mt-4">
    <a class="btn btn-secondary fw-bold regular-button" type="button" asp-controller="Files" asp-action="Index" method="get" title="Regresar">
        @IconHelper.ReturnIcon()
    </a>
    <a class="btn custom-button-addFile fw-bold regular-button" asp-controller="PaperWork" asp-action="Create">Nuevo Trámite</a>
</section>

<section class="max-width-container table-responsive">
    <div class="table-container border-start border-bottom border-end">
        <table class="table table-bordered border-3 table-striped table-hover">
            <thead class="table-header">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Document_Number)</th>
                    <th>@Html.DisplayNameFor(model => model.Document_Date)</th>
                    <th>@Html.DisplayNameFor(model => model.PaperWork_type)</th>
                    <th>@Html.DisplayNameFor(model => model.Comments)</th>
                    <th>@Constants.ActionsText</th>
                </tr>
            </thead>

            <tbody class="table-group-divider">
                @if (isLoading)
                {
                    <partial name="_SkeletonLoader" />
                }
                else if (Model != null && Model.Any())
                {
                    @foreach (var paperwork in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => paperwork.Document_Number)</td>
                            <td>@(paperwork.Document_Date.ToString("yyyy/MM/dd") ?? Constants.NotApplyText)</td>
                            <td>@paperwork.PaperWork_type_Description</td>
                            <td class="table-comments" title="@paperwork.Comments">@paperwork.Comments</td>
                            <td class="d-flex">
                                <a asp-controller="PaperWork" asp-action="Edit" asp-route-id="@paperwork.Id" title="Abrir formulario de edición" class="btn btn-sm text-white custom-button-menu me-1">
                                    @IconHelper.EditIcon()
                                </a>
                                <form asp-controller="PaperWork" asp-action="Delete" asp-route-id="@paperwork.Id" method="post">
                                    <button type="submit" class="btn btn-sm text-white custom-button-delete ms-1" title="Borrar trámite" onclick="return confirm('¿Estás seguro de que deseas eliminar este trámite?');">
                                        @IconHelper.DeleteIcon()
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center">@Constants.NoDataTablePlaceholder</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @await Html.PartialAsync("_Pagination", (PageNumber: pageNumber, TotalPages: totalPages, TotalCount: totalCount))
</section>
